// Breakpoints
$breakpoints: (
  phone: 400px,
  tablet: 768px,
  tablet-landscape: 992px,
  laptop: 1200px,
  desktop: 1500px,
  desktop-large: 1920px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}

// Typography
$font-primary: 'Manrope', sans-serif;
$font-secondary: 'Poppins', sans-serif;
