$breakpoints: (
  phone: 400px,
  tablet: 768px,
  tablet-landscape: 992px,
  laptop: 1200px,
  desktop: 1500px,
  desktop-large: 1920px,
  desktop-extra-large: 2560px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}

@mixin grid($key) {
  display: grid;
  grid-template-columns: repeat($key, minmax(min-content, max-content));
}

@mixin grid-row($key) {
  display: grid;
  grid-template-rows: repeat($key, minmax(min-content, max-content));
}
@mixin grid-auto($type: "columns") {
  display: grid;
  grid-gap: 1rem; /* Optional, to add space between the child elements */

  @if $type == "columns" {
    grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));
  } @else if $type == "rows" {
    grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
  }
}

@mixin form {
  width: 100%;
  max-width: 400px;
  background-color: $light-color;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@mixin button {
  display: inline-block;
  background-color: $primary-color;
  color: $light-color;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}

$background-color: #1a1a1a; // A dark gray color
$primary-color: #d4af37; // A gold color
$secondary-color: #6c757d; // A gray color for secondary elements
$light-color: #f8f9fa; // A light gray color for backgrounds and light elements
$gray-color: #6c757d; // A gray color for general use
$text-color: #000; // White color for text
$border-color: #d4af37; // A gold color for borders
$primary-color-trans: rgba(212, 175, 55, 0.8); // A gold color with 80% opacity
$secondary-color-trans: rgba(
  108,
  117,
  125,
  0.8
); // A gray color with 80% opacity

$font-family: "Manrope", sans-serif;
$font-size: 16px;
$font-weight: 400;
$line-height: 1.5;

$container-width: 1200px;

.Toastify {
  position: absolute;
  z-index: 99;
}

// Primary and Secondary Colors

// Text Colors
$primary-text-color: #333333; // Dark color for primary text
$secondary-text-color: #666666; // Lighter color for secondary text

// Background Colors
$light-background-color: #fafafa; // Light grey background
$dark-background-color: #262626; // Dark grey for alternate backgrounds

// Instagram-specific Color
$instagram-color: #e1306c; // Instagram pink

// Utility Colors
$white-color: #ffffff;
$black-color: #000000;

// Box Shadow
$box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
$box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);
