@import "./_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: #fff;
  background-color: black;
}

a {
  text-decoration: none;
  color: $primary-color;
}

a:hover {
  text-decoration: underline;
}

#root {
  display: grid;
}

.login-back-arrow {
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 99;
  cursor: pointer;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.logo-global {
  width: 5rem;
  justify-self: center;
  margin-bottom: 1rem;
}
