@import "../../_variables";

.dashboard {
  display: grid;
  padding: 2rem;
  text-align: center;
  align-self: center;

  height: 100%;

  &-logo {
    width: 5rem;
    justify-self: center;
    margin-top: 2rem;
  }
  &-header {
    margin-top: 3rem;

    &-avatar {
      display: grid;
      position: relative;

      margin-bottom: 1rem;

      &-picture {
        justify-self: center;
        border-radius: 50%;
        width: 10rem;
      }

      .avatar-icon {
        position: absolute;
        width: 2rem;
        bottom: 0;
        right: 4rem;
        cursor: pointer;
      }

      .avatar-controls {
        cursor: pointer;
        width: 2.5rem;
        margin: 0.5rem;
      }

      .profileApp {
        width: 10rem;
        justify-self: center;

        .image-upload-file {
          display: none;
        }
      }

      .avatar-crop {
        display: grid;
        grid-gap: 1rem;
        justify-content: center;
        &-controls {
          display: grid;

          &-range {
            -webkit-appearance: none;
            width: 100%;
            height: 8px;
            background: #f4c430; /* Gold background */
            outline: none;
            opacity: 0.75;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;

            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 25px;
              height: 25px;
              background: #ffd700; /* Solid gold color */
              cursor: pointer;
              border-radius: 50%;
            }

            &::-moz-range-thumb {
              width: 25px;
              height: 25px;
              background: #ffd700; /* Solid gold color */
              cursor: pointer;
              border-radius: 50%;
            }

            &:focus::-webkit-slider-thumb {
              background: #b8860b; /* Darker gold tone on focus */
            }

            &:focus::-moz-range-thumb {
              background: #b8860b; /* Darker gold tone on focus */
            }
          }
        }
      }
    }

    &-title {
      color: #fff;
      text-align: center;
      font-family: Manrope;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 2rem;
      color: #fff;
      font-family: Manrope;

      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 142.857% */
      letter-spacing: 4.2px;
      text-transform: uppercase;
    }

    &-name {
      color: #fff;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &-email {
      font-style: italic;
    }
  }

  &-actions {
    display: grid;
    grid-gap: 0.5rem;
    margin-top: 1.25rem;
    &-button {
      display: flex;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      color: #fff;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 5px;
      border: 2px solid #fff;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(8px);
      cursor: pointer;
    }

    &-button-logout {
      cursor: pointer;
      border-radius: 5px;
      background: #fff;
      backdrop-filter: blur(8px);
      display: flex;
      width: 100%;
      height: 56px;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
