@import "../../_variables";

.home {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--background-color, #0a0a0a);
  color: var(--text-color, #ffffff);
}

.home-main {
  width: 100%;
}