@import "../../_variables";
@import "../../_animations";

.fileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color;

  &-title {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
  }

  &-group {
    @include grid(3);
    align-items: center;
    justify-self: center;
    justify-content: center;
    grid-gap: 0.75rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    &-container {
      border-radius: 0.3125rem;
      background: linear-gradient(314deg, #d1a300 0%, #ffc807 100%);
      backdrop-filter: blur(8px);
      display: grid;
    }

    &-instagramStory {
      display: grid;
      align-items: center;
      width: 45px;
      height: 80px;
      align-self: center;
    }

    &-squareFormat {
      display: grid;
      align-items: center;
      width: 45px;
      height: 45px;
      align-self: center;
    }

    &-landscape {
      display: grid;
      align-items: center;
      width: 80px;
      height: 45px;
    }
  }

  .format-button {
    @include button;

    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.delete-button {
  background-color: red;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 5px;
}

.validated {
  color: #000;
}
