@import "../../_variables";

.instagram {
  border-radius: 5px;
  background: #232323;
  @include grid-row(2);
  padding-top: 2rem;
  padding-bottom: 2rem;

  &-title {
    color: #fff;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 2rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &-button {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    justify-self: center;
    align-self: center;
    grid-row: 1/3;
    grid-column: 1/2;
    width: 100%;

    button {
      display: grid;

      grid-template-columns: 0.1fr 0.9fr;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      border-radius: 5px;
      width: 100%;
      padding: 16px 32px;
      backdrop-filter: blur(8px);
      border: none;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #fff;

      img {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      p {
        grid-column: 1/3;
        grid-row: 1/2;
      }
    }

    &-instagram {
      background: linear-gradient(180deg, #bc3081 0%, #654c9f 100%);
    }

    &-tiktok {
      background: linear-gradient(180deg, #00f2ea 0%, #ff0050 100%);
      margin-top: 0.5rem;
    }
  }

  &-image {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 10rem;
  }
}
