@import "../../_variables";

.login {
  @include grid-row(3);
  padding: 2rem;
  align-self: center;
  position: relative;
  height: 100vh !important;
  align-content: center;

  &-logo {
    width: 5rem;
    margin-bottom: 2rem;
    justify-self: center;
  }

  &-title {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
  }

  &-form {
    @include grid-row(3);
    grid-gap: 1rem;
    margin-top: 2rem;
    input {
      display: flex;
      width: 100%;
      height: 3rem;
      max-width: 30rem;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      border: 2px solid #fff;
      background-color: #000;
      backdrop-filter: blur(8px);
      color: #fff;
      justify-self: center;
      &::placeholder {
        color: #fff;
      }
    }

    &-submit {
      border-radius: 5px;
      justify-self: center;
      border-radius: 0.3125rem;
      background: linear-gradient(314deg, #d1a300 0%, #ffc807 100%), #fff;
      backdrop-filter: blur(8px);
      display: flex;
      width: 100%;
      height: 3rem;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: none;
      max-width: 30rem;
    }
  }
}
