@import "../../_variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
}

$breakpoints: (
  smallest: 200px,
  supersmall: 400px,
  small: 480px,
  smallmid: 600px,
  midsmall: 800px,
  midmedium: 1000px,
  medium: 1200px,
  midlarge: 1500px,
  large: 2000px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}

.statistic {
  padding: 2rem;
  display: grid;
  padding-top: 5rem;

  &-navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    button {
      background: none;
      border: none;
      font-weight: 800;
      color: #fff;
      font-size: 1.5rem;
      align-self: center;
    }

    button:nth-child(1) {
      justify-self: start;
    }

    p {
      justify-self: center;
      align-self: center;
      text-transform: uppercase;
    }

    button:nth-child(3) {
      justify-self: end;
    }
  }

  &-container {
    display: grid;
    margin-bottom: 2rem;
    width: 100%;

    h2 {
      margin-top: 1rem;
      text-align: start;
      margin-bottom: 0.25rem;
    }

    p {
      text-align: left;
    }
  }

  &-parent {
    @include grid-row(2);
    width: 100%;

    &-group {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0.25rem;
      p:nth-child(2) {
        text-align: center;
        font-weight: 800;
        color: #fff;
      }
      p:nth-child(3) {
        text-align: end;
        font-weight: 800;
        color: rgb(3, 180, 3);
      }
    }
  }

  .total {
    border: 1px solid white;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
}
