@import "./_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  color: $secondary-color;
  background-color: $gray-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}

a:hover {
  text-decoration: underline;
}
